

    <div class="container-fluid" style="background-color:darkgray;">
        <div class="row">
        <div class="col-12 col-sm-12">
            <div class="row">
    <img  src="https://img.freepik.com/free-photo/waist-up-portrait-handsome-serious-unshaven-male-keeps-hands-together-dressed-dark-blue-shirt-has-talk-with-interlocutor-stands-against-white-wall-self-confident-man-freelancer_273609-16320.jpg?w=826&t=st=1649995707~exp=1649996307~hmac=15fa433262106dc5614ba8505594397c547f5aaef1ea310cf7c91f49e59e7422"  style="width:810px;">
    <div class="col offset-1" >
        <br>
        <br>
        <br>
<p style="font-size: 20px;font-family: 'Dancing Script', cursive;">Mohamed Cherif Hamdi</p>...tout un art,exercé par suzina
   
<p >Asstitant de Notre pets Home</p>...tout un art,exercé par suzina
<p><br></p>

<button type="submit" class="btn btn-primary">LinKdin</button>
<p>
    <br>
</p>
</div>

    
    </div>
    </div>
    
    <br>
    
    
    
    </div>
    
<div style="background-color: white; height: 10px;">
..
</div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col offset-2" >
                    <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      
                    <p style="font-size: 20px;font-family: 'Dancing Script', cursive;">MAllek Ajmi</p>...tout un art,exercé par suzina
                        
                    <p >Asstitant de Notre pets Home</p>...tout un art,exercé par suzina
                    <p><br></p>
                    
                    <button type="submit" class="btn btn-primary">LinKdin</button>
                    <p>
                        <br>
                    </p>
                    </div>
    <img  src="https://img.freepik.com/free-photo/portrait-smiling-business-woman-isolated-white-wall_231208-12430.jpg?t=st=1649995877~exp=1649996477~hmac=a8879ee9f9ac73340c7c84a50f8173ec1d5baef9f762645df8507bb579309066&w=826"  style="width:800px;">
   
    
    </div>
    </div>
    <br>
    
    
    
    </div>


    <div style="background-color: white; height: 10px;">
        ..
        </div>


    <div class="row">
        <div class="col-12">
            <div class="row">
               
    <img  src="https://img.freepik.com/free-photo/veterinarian-check-ing-puppy-s-health_23-2148728396.jpg?t=st=1649996115~exp=1649996715~hmac=e04d6b487ef0e5af8cc72e737df5fc7a2c8363507600841844a188a8a988c644&w=740"  style="width:805px;">
    <div class="col offset-1" >
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
<p style="font-size: 20px;font-family: 'Dancing Script', cursive;">Mohamed Cherif Hamdi</p>...tout un art,exercé par suzina
   
<p >Asstitant de Notre pets Home</p>...tout un art,exercé par suzina
<p><br></p>

<button type="submit" class="btn btn-primary">LinKdin</button>
<p>
    <br>
</p>
</div>
   
    
    </div>
    </div>
    <br>
    
    
    
    </div>
    </div>
