
  <nav class="navbar navbar-dark bg-dark col-sm-12" style="height: 50px;">
  <div class="hm">  <a href="" routerLink="/hm" style="position: relative;right:-25px; text-decoration: none;color:aliceblue;" >HOME</a></div>
  <div class="hm"> <a href="" routerLink="/about" style="position: relative;right:-25px; text-decoration: none;color:aliceblue">About</a></div>
   
    <div class="hm">  <a href="" routerLink="/shop" style="position: relative;right:-25px; text-decoration: none;color:aliceblue">Shop</a></div>
        <div class="hm"> <a href="" routerLink="/team" style="position: relative;right:-25px; text-decoration: none;color:aliceblue">Ourteam</a></div>

            

    <a href="#" routerLink="/panier" > Panier<img src="https://th.bing.com/th/id/R.d5c48dec4dcd43efec5c44ddb41a388a?rik=rHJmKfnORe9LPg&riu=http%3a%2f%2fwww.1-tree.com.cn%2findex%2fimg%2fwonerimg%2fgouwuc.png&ehk=N%2fz%2fYzkeIT1nmHFfHkhc0HDVFBVWMgwWlm0LJ7Y3ZN4%3d&risl=&pid=ImgRaw&r=0" style="width:50px;"></a>
   </nav>
 
  
<!--**********************************************************Dashbord******************************************************************************-->


	


   



<!--****************************************************************************************************************************************-->

  
    
