<div class="container-fluid">
<div class="row">
<div class=" col-6">
    <img src="https://img.freepik.com/free-photo/adorable-brown-white-basenji-dog-smiling-giving-high-five-isolated-white_346278-1657.jpg?t=st=1649997368~exp=1649997968~hmac=2a7beed8ac939b282638944e39d480cab1161822816a2d17e352b3369bea99e6&w=826" style="width:1600px;">
</div>
<div class="col-5 offset-1">
    <p>we love animals.</p> <p>After having more than 25 years </p><p>combined experience caring for our and other peoples</p> <p>‘pets  home ‘ opened its doors in 2021 as a full-time business to care for your furry friends.</p>
<br>
<br>
<p> 

    Our primary goal is to ensure that our clients feel complete confidence and satisfaction </p><p>with any of the services we provide. Not only do we want to stay in business for a very</p><p>long time, but we want to grow as a result of having an excellent reputation in pet care.</p> 
    
    
</div>



</div>
<div class="row" style="position: relative;top:-150px;">

   



</div>
</div>